.scenery-parser-log-view {
    padding: 1em;
    border-radius: 8px;
    background-color: var(--half-layer-color);
    border: 2px solid var(--border-color);
}

.scenery-parser-log-view ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: -1em;
    padding-left: 1em;
}

.scenery-parser-log-view .log-entry.warn {
    color: var(--parser-log-warn-color);
}

.scenery-parser-log-view .log-entry.error {
    color: var(--parser-log-error-color);
}