.side-menu-wrapper {
    position: relative;
}

.side-menu {
    border-left: 2px solid var(--border-color);
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--background-color);
    z-index: 50;
    width: max-content;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.layer-options-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.layer-options-menu-checkboxes {
    display: flex;
    flex-direction: column;
}

.side-menu .hidden {
    visibility: hidden;
    height: 0;
}

.side-menu h3 {
    margin: 0;
}

.side-menu.closed {
    transform: translateX(100%);
}

.layers-menu ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.layers-menu input {
    margin-right: 0.5em;
    vertical-align: middle;
}

.side-menu-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.side-menu-select select {
    flex: 1;
}

.distance-meter-button button,
.scenery-info-button button,
.export-view-button button {
    width: 100%;
}

.info-footer {
    color: var(--text-color-disabled);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: auto;
    align-items: flex-end;
}

.extended-signals-checkbox input,
.show-track-hover-info-checkbox input,
.original-signal-names-checkbox input {
    margin-right: 0.5em;
    vertical-align: middle;
}
