body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: monospace;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}

.side-menu-split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.capitalize {
    text-transform: capitalize;
}

input[type="file"]::file-selector-button,
input[type="text"],
button,
select {
    font-size: inherit;
    font-family: inherit;
    background: var(--layer-color);
    border-radius: 8px;
    border: none;
    color: var(--text-color);
    padding-inline: 8px;
    padding-block: 4px;
    outline: none;
    cursor: pointer;
}

input[type="file"].non-transparent::file-selector-button,
input[type="text"].non-transparent,
button.non-transparent,
select.non-transparent {
    background: var(--layer-color-non-transparent);
    border: 2px solid var(--border-color);
}

input[type="file"]::file-selector-button:hover,
button:hover,
select:hover {
    background: var(--layer-color-hover);
}

input[type="file"].non-transparent::file-selector-button:hover,
button.non-transparent:hover,
select.non-transparent:hover {
    background: var(--layer-color-non-transparent-hover);
}

input[type="file"]:disabled::file-selector-button,
button:disabled,
select:disabled {
    background: var(--layer-color-disabled);
    color: var(--text-color-disabled);
    cursor: not-allowed;
}


input[type="file"].non-transparent:disabled::file-selector-button,
button.non-transparent:disabled,
select.non-transparent:disabled {
    background: var(--layer-color-non-transparent-disabled);
    color: var(--text-color-disabled);
    cursor: not-allowed;
}

input[type="file"]::file-selector-button,
button {
    padding-inline: 10px;
    padding-block: 5px;
}

select > option {
    background: var(--background-color);
    color: var(--text-color);
}

input[type="text"] {
    background-color: unset;
    border: 2px solid var(--layer-color);
}

input[type="text"]:focus {
    border: 2px solid var(--layer-color-hover);
}

.invis-button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    appearance: none;
}

.invis-button:hover {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--layer-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--layer-color-hover);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}