.dialog-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog {
    display: block;
    background-color: var(--dialog-background-color);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    min-width: 20em;
    max-width: 40em;
}

.dialog.wide {
    width: 40em;
}

.dialog.extra-wide {
    width: 60em;
    max-width: 60em;
}

.dialog-title {
    margin-bottom: 2em;
    color: var(--text-color-disabled);
    font-weight: bold;
}

.dialog-message {
    margin-bottom: 1em;
    white-space: pre-wrap;
    max-height: calc(90vh - 5em);
    overflow-y: auto;
}

.dialog-content {
    margin-bottom: 1em;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}
