.track-hover-info {
    position: absolute;
    z-index: 10000;
    margin: 0.5em;
    pointer-events: none;
}

.track-hover-info-popup {
    background-color: #222;
    border: 2px solid #444;
    border-radius: 8px;
    padding: 1em;
}

.track-hover-info-popup svg {
    width: 1.2em;
    height: 1.2em;
}

.track-hover-info-popup table {
    border-spacing: 2px;
}

.track-hover-info-popup th {
    text-align: start;
    padding-right: 2em;
    color: #888;
}

.track-hover-info-popup__align {
    margin-top: 1.5em;
    padding: 2px;
    color: #888;
}

.track-hover-info-popup .track-hover-info-popup-label {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
