.map {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #111;
}

.map svg path.track {
    stroke-width: 1.44px;
    fill: transparent;
}

.map svg path.track-unscaled {
    stroke-width: 1px;
    fill: transparent;
    vector-effect: non-scaling-stroke;
}

.map svg text {
    font-size: 2px;
    text-shadow: 0 0 16px #000;
    fill: #eee;
}

.map svg text.switch-name {
    font-size: 3px;
    fill: #bbf;
}

.map svg text.isolation-id {
    fill: #ffa;
}

.map svg path.isolation-end-marker {
    stroke: #ffa;
    stroke-width: 0.5px;
}

.map svg g.track-object circle {
    fill: #eee;
}

.map svg g.track-object text {
    fill: #eee;
    display: none;
}

.map svg g.track-object:hover text {
    display: block;
}

.map svg g.signal-icon g {
    stroke: #eee;
}

.map svg g.extended-signal-icon {
    fill: none;
    stroke: #eee;
}

.map svg g.extended-signal-icon .background {
    fill: #111;
}

.map svg g.route g {
    fill: #eee;
}

.map svg g.route text {
    fill: #eee;
    font-size: 72mm;
}

.map svg g.signalbox {
    fill: #eee;
}

.map svg g.signalbox text {
    fill: #eee;
    font-size: 4px;
}

.map svg g.sign path {
    fill: #eee;
}

.map svg g.sign path.background {
    fill: #111;
}

.map svg g.signal-sign path {
    fill: #eee;
}

.map svg g.signal-sign path.background {
    fill: #111;
}

.map svg g.signal-head-mech path {
    fill: #eee;
}

.map svg g.signal-head-mech path.background {
    fill: #111;
}

.map .signal-sign-text {
    stroke: none;
}

.map svg g.nevp path {
    fill: #eee;
}

.map svg g.nevp path.background {
    fill: #111;
}

.map svg g.derailer path {
    fill: #eee;
}

.map svg g.spawn-point path {
    fill: #eee;
}

.map svg g.spawn-point path.background {
    fill: #111;
}
