.map {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #111;
}

.map svg path.track {
    stroke-width: 1.44px;
    fill: transparent;
}

.map svg path.track-unscaled {
    stroke-width: 1px;
    fill: transparent;
    vector-effect: non-scaling-stroke;
}

.map text {
    font-size: 2px;
    fill: #eee;
    stroke: none;
}

.map .switch-name-text {
    font-size: 3px;
    text-shadow: 0 0 16px #000;
}

.map .route-text {
    font-size: 72mm;
}

.map .signalbox-text {
    font-size: 4px;
}

.map .isolation-id-text {
    fill: #ffa;
    text-shadow: 0 0 16px #000;
}

.map path.isolation-end-marker {
    stroke: #ffa;
    stroke-width: 0.5px;
}

.map g.track-object circle {
    fill: #eee;
}

.map g.track-object text {
    fill: #eee;
    display: none;
    text-shadow: 0 0 16px #000;
}

.map g.track-object:hover text {
    display: block;
}

.map g.platform rect {
    fill: #444;
}

.map g.map-icon-stroked path,
.map g.map-icon-stroked circle,
.map g.map-icon-stroked line,
.map g.map-icon-stroked rect {
    fill: none;
    stroke: #eee;
}

.map g.map-icon path,
.map g.map-icon circle,
.map g.map-icon line,
.map g.map-icon rect {
    fill: #eee;
    stroke: none;
}

.map g.map-icon-stroked .background,
.map g.map-icon .background {
    fill: #111;
    stroke: none;
}

.map g.map-icon-stroked .with-background,
.map g.map-icon .with-background {
    fill: #111;
    stroke: #eee;
}
